@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Righteous';
    src: url('./assets/Righteous-Regular.ttf');
}

@font-face {
    font-family: 'ZCOOLKuaiLe';
    src: url('./assets/ZCOOLKuaiLe-Regular.ttf');
}


@layer base {
    html {
        font-family: Righteous,ZCOOLKuaiLe , Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    }
}
:root {
    color-scheme: light dark;
    background-color: #F5F5F5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
